.fixedHeader {
    background-color: $lightGray;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 20;
}

.header {
    background-color: $lightGray;
}

.header-top {
    max-width: 77rem;
    padding: 1.5rem 6.5rem 1.5rem;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 126px;
    height: 50px;
    z-index: 100;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__link {
    display: block;
    border-radius: 50px;
    padding: 8px;
    margin-left: 8px;
    font-size: 1rem;
    transition: 0.3s;
    
    &:hover {
        background-color: $white;
        box-shadow: 0px 0px 10px 0px rgba(107, 115, 123, 0.50);
    }
}

.header__cart {
    width: 56px;
    height: 56px;
    min-width: 56px;
    border-radius: 50px;
    background-color: $white;
    font-size: 1.5rem;
    margin: 0 1.2rem 0 2rem;
    transition: 0.3s;
    
    &:hover {
        box-shadow: 0px 0px 10px 0px rgba(107, 115, 123, 0.50);
    }
}

.header-content__image {
    position: absolute;
    top: 0;
    right: -150px;
    bottom: 0;
    width: 40vw;
    z-index: 1;
    transform: translateY(123px);
}

.header-content {
    max-width: 77rem;
    margin: 0 auto 0;
    padding: 11.2rem 6.5rem 8rem;
    position: relative;
}

.header-content__title {
    z-index: 12;
    position: relative;
    font-size: $extraFontSize;
    line-height: $extraFontSize + 1vw;
    font-weight: 800;
}

.header-content__text {
    max-width: 530px;
    margin: 2rem 0 4rem;
    z-index: 19;
    position: relative;
}